<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224970776740-puh7mo5l9300f1vdahdvu5cki5acb7h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224970776740-puh7mo5l9300f1vdahdvu5cki5acb7h6</string>
	<key>API_KEY</key>
	<string>AIzaSyAa37-LjC3tRLteifP6ySgRXv2DOArpIjs</string>
	<key>GCM_SENDER_ID</key>
	<string>224970776740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.europerailroad.app</string>
	<key>PROJECT_ID</key>
	<string>europe-rail-road</string>
	<key>STORAGE_BUCKET</key>
	<string>europe-rail-road.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224970776740:ios:1ccd063679cbe1b58e4631</string>
</dict>
</plist>